body {
  margin: 0;
}
.nav {
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  background: #131921;
  color: #fff;
}

.nav__brand {
  font-weight: 800;
  font-size: 1.25rem;
  cursor: pointer;
}
.nav__brand span {
  color: #febd69;
}

.nav__search {
  flex: 1;
  display: flex;
}
.nav__input {
  flex: 1;
  padding: 0.6rem 0.8rem;
  border: none;
  outline: none;
  border-radius: 4px 0 0 4px;
}
.nav__btn {
  padding: 0.45rem 0.6rem;
  background: #febd69;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  flex: none;
  width: auto;
  white-space: nowrap;
  font-weight: 700;
}

.filter-box {
  position: relative;
}
.filter-btn {
  background: #febd69;
  border: none;
  padding: 0.6rem 0.8rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}

/* DROPDOWN */
.filter-dropdown {
  position: absolute;
  right: 0;
  top: 45px;
  background: white;
  color: black;
  width: 220px;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.filter-dropdown input,
.filter-dropdown select {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.apply-btn {
  margin-top: 0.5rem;
  background: #febd69;
  border: none;
  padding: 8px;
  border-radius: 4px;
  font-weight: bold;
}

.nav__links {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav__links a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.logout-btn {
  background: #c40000;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
}

@media (max-width: 800px) {
  .nav__search {
    display: none;
  }
}
